html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;
vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
b{font-weight: 700;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{outline:none;}
p:empty {
  display: none !important;
}
/* я не меняла размер курсора, потому что в дизайне картинка вроде тоже полноразмерная. Если нужно, напиши мне */

:root {
	--black:        #000;
	--white:		#fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.3;
    background-color: #fff;
    /*cursor: url(../img/Semki.png), default;*/
    max-width: 1920px;
    color: var(--black);
}
/*header {
    display: flex;
    max-width: 100%;
}
.header-menu {
    position: absolute;
    width: 1920px;
    height: 64px;
    right: 0px;
    top: 37px;
    
    background: #FFFFFF;
}
.slider1 {
    position: absolute;
width: 77px;
height: 32px;
right: 1813px;
top: 56px;

background: linear-gradient(270deg, #FF80DB 0%, #76DAE5 89.09%);
border-radius: 100px;
}
.slider2 {
    position: absolute;
width: 77px;
height: 32px;
right: -47px;
top: 56px;

background: linear-gradient(270deg, #FF80DB 0%, #76DAE5 89.09%);
border-radius: 100px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.flex>ul{
	display: flex;
    justify-content: space-between;
}
.flex>ul>li {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 19px;
}*/
main{
    
    max-width: unset;
    width: calc(100% - 374px);
    margin: 100px auto 0;
}
a {
    text-decoration: none;
    color: var(--black);
    /*cursor: url(../img/Semki.png), default;*/
}
h1, h2 { 
    font-size: 54px;
    font-weight: 800;
}
h3 {
    font-size: 54px;
    font-weight: 800;
    text-align: center;
}
.text {
    margin: 0 0 100px 0;
}
img{
    max-width: 100%;
    height: auto;
}
.homka_smm_img {
    margin: 37px 0 0;
}
.text_box {
    margin: 56px auto 0;
}
.dot {
    font-size: 30px;
    font-weight: 700;
    color: #FEAD22;
    
}
.grid{
	display: grid;
}
.new-content-2 {
    margin: 124px 0 0 0;
}
.content-box {
    margin: 71px 0 0 0;
}
/* .content_1 {
    grid-template-rows: 66% 33%;
    grid-template-columns: 1fr;
}
.content_2 {
    grid-template-rows: 33% 66%;
    grid-template-columns: 1fr;
} */
.flex {
    display: flex;
}
.column_reverse{
	grid-template-columns: 70% 30%;
}
.marginTop{
    margin-top: 200px;
    }
.marginTop2 {
    margin-top: 106px;
}
.caps {
    font-size: 30px;
}
.people_love {
    margin-top: 95px;
}
.comment-box {
    position: relative;
    margin-top: 23px;
    margin-bottom: 127px;
}
.absolute {
    position: absolute;
}
.absolute_comment1 {
    left: 0px;
    top: 0px;
}
.absolute_comment2 {
    left: 289px;
    top: 42px;
}
.absolute_comment3 {
    left: 525px;
    top: 78px;
}
.absolute_comment4 {
    left: 760px;
    top: 67px;
}
.absolute_comment5 {
    left:916px;
    top: 119px;
}
.absolute_comment6 {
    left: 1117px;
    top: 15px;
}
.absolute_comment7 {
    left: 127px;
    top: 205px;
}
.absolute_comment8 {
    left: 359px;
    top: 220px;
}
.absolute_comment9 {
    left: 587px;
    top: 171px;
}
.absolute_comment10 {
    left: 731px;
    top: 180px;
}
.absolute_comment11 {
    left: 853px;
    top: 174px;
}
.absolute_comment12 {
    left: 1085px;
    top: 265px;
}
.absolute_comment13 {
    left: 1266px;
    top: 174px;
}
.absolute_comment14 {
    left: 0px;
    top: 283px;
}
.absolute_comment15 {
    left: 231px;
    top: 310px;
}
.absolute_comment16 {
    left: 535px;
    top: 303px;
}
.absolute_comment17 {
    left: 818px;
    top: 296px;
}
.absolute_comment18 {
    left: 1157px;
    top: 323px;
}
.absolute_comment19 {
    left: 1323px;
    top: 393px;
}
.absolute_comment20 {
    left: 48px;
    top: 389px;
}
.absolute_comment21 {
    left: 302px;
    top: 399px;
}
.absolute_comment22 {
    left: 484px;
    top: 398px;
}
.absolute_comment23 {
    left: 709px;
    top: 389px;
}
.absolute_comment24 {
    left: 976px;
    top: 369px;
}
.absolute_comment25 {
    left: 1323px;
    top: 393px;
}
.absolute_comment26 {
    left: 139px;
    top: 475px;
}
.absolute_comment27 {
    left: 302px;
    top: 399px;
}
.absolute_comment28 {
    left: 552px;
    top: 463px;
}
.absolute_comment29 {
    left: 757px;
    top: 536px;
}
.absolute_comment30 {
    left: 944px;
    top: 437px;
}
.absolute_comment31 {
    left: 1201px;
    top: 504px;
}
/****/

.logo {
    margin: 0;
    padding: 0;
}
.column{
	flex-flow: column nowrap;
}
.alignCenter{
	align-items: center;
}
.justifyCenter{
	justify-content: center;
}
.justifyBetween{
	justify-content: space-between;
}

.col-1{
	grid-template-columns: repeat(1, 1fr);
}
.row-1{
	grid-template-rows: repeat(1, 1fr);
}
.row-3{
	grid-template-rows: repeat(3, 1fr);
}
.col-2{
	grid-template-columns: 45% 55%;
}

.col-3{
	grid-template-columns: repeat(3, 1fr);
}
.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.col-5{
	grid-template-columns: repeat(5, 1fr);
}
.col-6{
	grid-template-columns: repeat(6, 1fr);
}
.col-9{
	grid-template-columns: repeat(9, 1fr);
}
.col-12{
	grid-template-columns: repeat(12, 1fr);
}
