html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;
vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
b{font-weight: 700;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{outline:none;}
p:empty {
  display: none !important;
}

:root {
	--black:        #000;
	--white:		#fff;
}
body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.3;
    background-color: #fff;
    /*cursor: url(../img/Semki.png), default;*/
    /* max-width: 1920px; */
    color: var(--black);
    overflow-x: hidden;
}

section {
    width: auto;
    padding: 0 9.37vw;
    max-width: 1546px;
    margin: 0 auto;
}

/*header {
    display: flex;
    max-width: 100%;
}
.header-menu {
    position: absolute;
    width: 1920px;
    height: 64px;
    right: 0px;
    top: 37px;
    
    background: #FFFFFF;
}
.slider1 {
    position: absolute;
width: 77px;
height: 32px;
right: 1813px;
top: 56px;

background: linear-gradient(270deg, #FF80DB 0%, #76DAE5 89.09%);
border-radius: 100px;
}
.slider2 {
    position: absolute;
width: 77px;
height: 32px;
right: -47px;
top: 56px;

background: linear-gradient(270deg, #FF80DB 0%, #76DAE5 89.09%);
border-radius: 100px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.flex>ul{
	display: flex;
    justify-content: space-between;
}
.flex>ul>li {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 19px;
}*/
footer,
main{
    
    max-width: unset;
    /* width: calc(100% - 374px); */
    width: auto;
    margin: 100px auto 0;
}
footer{
    padding: 0 9.735vw 50px;
}
a {
    text-decoration: none;
    color: var(--black);
    /*cursor: url(../img/Semki.png), default;*/
}
h1, h2, h3 { 
    line-height: 1;
    /* font-size: 54px; */
    font-size: 2.8125vw;
    font-weight: 800;
}
h3{
    text-align: center;
}
.text {
    margin: 0 0 100px 0;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.homka_smm_img {
    margin: 37px auto 0;
}
.text_box {
    margin: 56px auto 0;
}

.img_oksana, .text_oksana {
    margin: 0 0 88px;
}

.blackbox {
    margin-top: 93px;
    padding: 58px 15px 58px 53px;
    background: #292929;
    color: var(--white);
    border-radius: 14px;
}
.dot {
    font-size: 30px;
    font-weight: 700;
    color: #FEAD22;
    
}
.grid{
	display: grid;
}
.semki-box {
    position: relative;
}
.semka1 {
    /* left: 375px; */
    left: 19.53vw;
    /* top: 20px; */
    top: 1.851vh;
}
.semka2 {
    left: 24.32vw;
    /* top: 131px; */
    top: 12.12vh;
}
.semka3 {
    /* right: 10px; */
    right: .52vw;
    /* top: 87px; */
    top: 8.05vh;
}
.semka4 {
    /* right: 453px; */
    right: 23.59vw;
    /* bottom: 130px; */
    bottom: 12.03vh;
}
.semka5 {
    /* right: 379px; */
    right: 19.73vw;
    /* bottom: 198px; */
    bottom: 18.33vh;
}
/* .arrow {
    right: 10px;
    top: 240px;
}
.arrow-text {
    right: 100px;
    top: 170px; 
} */
.semka6 {
    /* left: 5px; */
    left: .26vw;
    /* top: 65px; */
    top: 6.01vh;
}
.semka7 {
    /* left: 93px; */
    left: 4.84375vw;
    /* top: 220px; */
    top: 20.37vh;
}
.semka8 {
    /* right: 560px; */
    right: 29.16vw;
    /* top: 30px; */
    top: 2.77vh;
}
.semka9 {
    /* right: 35px; */
    right: 1.82vw;
    /* top: 320px; */
    top: 29.62vh;
}
.semka10 {
    /* left: 480px; */
    left: 25vw;
    /* bottom: 70px; */
    bottom: 4.48vh;
}
.semka11 {
    /* left: 5px; */
    left: .26vw;
    /* top: 110px; */
    top: 10.18vw;
}
.semka12 {
    /* left: 90px; */
    left: 4.6875vw;
    /* top: 240px; */
    top: 22.22vh;
}
.semka13 {
    /* right: 550px; */
    right: 28.64vw;
    /* top: 10px; */
    top: .925vh;
}
.semka14 {
    /* right: 60px; */
    right: 3.125vw;
    /* bottom: 110px; */
    bottom: 10.18vh;
}
.semka15 {
    /* left: 70px; */
    left: 3.64vw;
    /* top: 30px; */
    top: 2.77vh;
}
.semka16 {
    /* right: -70px; */
    right: -3.64vw;
    /* top: 120px; */
    top: 11.11vh;
}
.semka17 {
    /* right: 440px; */
    right: 22.91vw;
    /* bottom: 15px; */
    bottom: 1.38vh;
}
.semka18 {
    /* left: 25px; */
    left: 1.3vw;
    /* top: 150px; */
    top: 13.88vh;
}
.semka19 {
    /* left: 600px; */
    left: 31.25vw;
    /* top: 70px; */
    top: 6.48vh;
}
.semka20 {
    /* right: 50px; */
    /* top: 110px; */
    top: 10.18vh;
    right: 2.6vw;
    
}
.semka21 {
    /* right: 430px; */
    /* bottom: 110px; */
    bottom: 10.8vh;
    right: 22.39vw;
    
}

.semka {
    /* width: 114px; */
    width: 5.9vw;
    height: auto;
    max-width: 70px;
}


.new-content-5,
.new-content-4,
.new-content-1,
.new-content-2 {
    margin: 124px auto 0;
}
.new-content-3 {
    margin: 109px auto 0;
}
.content-box {
    margin-top: 71px;
    justify-content: center;
}
/* .content_1 {
    grid-template-rows: 66% 33%;
    grid-template-columns: 1fr;
}
.content_2 {
    grid-template-rows: 33% 66%;
    grid-template-columns: 1fr;
} */
.flex {
    display: flex;
}
.column_reverse{
	grid-template-columns: 70% 30%;
}
.marginTop{
    margin: 200px 0 0 ;
    }
.marginTop2 {
    margin: 95px 0 0;
}
.marginTop3 {
    margin: 280px 0 0;
}
.marginTop4 {
    margin: 180px 0 0;
}


.caps {
    font-size: 30px;
}
.people_love {
    margin: 95px 0 0;
}
.comment-box {
    position: relative;
    margin: 50px 0 100px;
    height: 70vh;
}
.absolute {
    position: absolute;
    height: auto;
}

.comment-box img{
    opacity: 0;
}

.comment-box.in_view img{
    opacity: 1;
}

.absolute_comment1 {
    left: 0px;
    top: 0px;
    width: 15.9375vw;
    transition-delay: .5s !important;
}
.absolute_comment2 {
    left: 15.05vw;
    top: 3.8vh;
    width: 12.65625vw;
    transition-delay: .7s !important;
}
.absolute_comment3 {
    left: 27.34375vw;
    top: 7.22vh;
    width: 14.01vw;
    transition-delay: .8s !important;
}
.absolute_comment4 {
    left: 39.58vw;
    top: 6.203vh;
    width: 17.5vw;
    transition-delay: 1s !important;
}
.absolute_comment5 {
    left: 47.708vw;
    top: 11.018vh;
    width: 17.29vw;
    transition-delay: 1.4s !important;
}
.absolute_comment6 {
    left: 58.17vw;
    top: 1.38vh;
    width: 16.25vw;
    transition-delay: 1.7s !important;
}
.absolute_comment7 {
    left: 6.61vw;
    top: 18.98vh;
    width: 14.79vw;
    transition-delay: 2s !important;
}
.absolute_comment8 {
    left: 20.57vw;
    top: 20.37vh;
    width: 14.47vw;
    transition-delay: 2.2s !important;
}
.absolute_comment9 {
    left: 30.57vw;
    top: 15.83vh;
    width: 15.3125vw; transition-delay: 1.5s !important;
}
.absolute_comment10 {
    left: 38.07vw;
    top: 16.66vh;
    width: 11.61vw; transition-delay: 1.2s !important;
} 
.absolute_comment11 {
    left: 44.42vw;
    top: 16.11vh;
    width: 15.15625vw; transition-delay: .6s !important;
}
.absolute_comment12 {
    left: 56.51vw;
    top: 24.53vh;
    width: 13.85vw; transition-delay: .4s !important;
}
.absolute_comment13 {
    left: 56.51vw;
    top: 16.11vh;
    width: 16.875vw; transition-delay: 1.3s !important;
}
.absolute_comment14 {
    left: 0px;
    top: 26.2vh;
    width: 18.48vw; transition-delay: 1.9s !important;
}
.absolute_comment15 {
    left: 12.03125vw;
    top: 28.7vh;
    width: 12.39vw; transition-delay: .5s !important;
}
.absolute_comment16 {
    left: 27.86vw;
    top: 25.92vh;
    width: 14.58vw; transition-delay: .7s !important;
}
.absolute_comment17 {
    left: 42.6vw;
    top: 27.4vh;
    width: 12.76vw; transition-delay: .3s !important;
}
.absolute_comment18 {
    left: 60.26vw;
    top: 29.9vh;
    width: 10.1vw; transition-delay: 1.5s !important;
}
.absolute_comment19 {
    left: 68.90625vw;
    top: 36.38vh;
    width: 10.1vw; transition-delay: 1.4s !important;
}
.absolute_comment20 {
    left: 2.5vw;
    top: 22.77vh;
    width: 12.8125vw; transition-delay: .7s !important;
}
.absolute_comment21 {
    left: 15.72vw;
    top: 36.94vh;
    width: 19.73vw; transition-delay: .8s !important;
}
.absolute_comment22 {
    left: 25.208vw;
    top: 36.85vh;
    width: 12.8125vw; transition-delay: 1.6s !important;
}
.absolute_comment23 {
    left: 36.92vw;
    top: 36.01vh;
    width: 13.85vw; transition-delay: 1.2s !important;
}
.absolute_comment24 {
    left: 50.83vw;
    width: 22.87vw;
    top: 35.09vh; transition-delay: .9s !important;
}
.absolute_comment25 {
    left: 68.90625vw;
    top: 36.38vh;
    width: 12.29vw; transition-delay: .8s !important;
}
.absolute_comment26 {
    left: 7.23vw;
    top: 43.98vh;
    width: 18.28125vw; transition-delay: 1.2s !important;
}
.absolute_comment27 {
    left: 20.72vw;
    top: 36.94vh;
    width: 20.57vw; transition-delay: 2s !important;
}
.absolute_comment28 {
    left: 28.75vw;
    top: 42.87vh;
    width: 14.42vw; transition-delay: .6s !important;
}
.absolute_comment29 {
    left: 39.42vw;
    top: 49.62vh;
    width: 18.02vw; transition-delay: .5s !important;
}
.absolute_comment30 {
    left: 40.4vw;
    top: 40.46vh;
    width: 14.42vw; transition-delay: 1.5s !important;
}
.absolute_comment31 {
    left: 62.55vw;
    top: 46.66vh;
    width: 13.22vw; transition-delay: 1.2s !important;
}
.illbeback {
    margin: 141px 0 115px;
    justify-content: center;
}
.img_anc {
    margin: 0 0 106px 0;
}
/****/

.logo {
    margin: 0;
    padding: 0;
}
.column{
	flex-flow: column nowrap;
}
.alignCenter{
	align-items: center;
}
.justifyCenter{
	justify-content: center;
}
.justifyBetween{
	justify-content: space-between;
}

.col-1{
	grid-template-columns: repeat(1, 1fr);
}
.row-1{
	grid-template-rows: repeat(1, 1fr);
}
.row-3{
	grid-template-rows: repeat(3, 1fr);
}
.col-2{
	grid-template-columns: 34.375vw 1fr;
}

.col-3{
	grid-template-columns: repeat(3, 1fr);
}
.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.col-5{
	grid-template-columns: repeat(5, 1fr);
}
.col-6{
	grid-template-columns: repeat(6, 1fr);
}
.col-9{
	grid-template-columns: repeat(9, 1fr);
}
.col-12{
	grid-template-columns: repeat(12, 1fr);
}

.gap-80{
    column-gap: 80px;
}



@media screen and (max-width: 1024px){
    .blackbox {
        margin-top: 93px;
        padding: 48px 32px;
        background: #292929;
        color: var(--white);
    }
    .column_reverse,
    .col-4,
    .col-3,
    .col-2{
        display: flex;
        flex-flow: column;
    }

    .new-content-5, .new-content-4, .new-content-3, .new-content-1, .new-content-2{
        margin: 42px 0 0;
    }

    .marginTop,
    .marginTop1,
    .marginTop2,
    .marginTop3,
    .marginTop4{
        margin: 32px 0 0;
    }
    h1, h2, h3 {
        font-size: 28px;
        margin: 0 0 16px;
    }
    body{
        font-size: 16px;
    }
    .caps {
        font-size: 18px;
    }
    .semka{
        display: none;
    }
    .img_oksana, .text_oksana {
        margin: 0;
    }
    .blackbox{
        margin: 0 0 50px;
    }
    .text {
        margin: 0 0 50px;
    }
    br,
    .text_box.column_reverse p br{
        display: none;
    }
    .content-box {
        align-items: center;
        overflow: hidden;
        margin: 50px 0 0;
        justify-content: center;
    }
    .comment-box.in_view img {
        width: 200px;
    }
    
    .absolute_comment6 {
        left: -1.17vw;
    }
    .absolute_comment13 {
        left: 6.51vw;
    }
    .absolute_comment31 {
        left: 6.55vw;
    }
    .absolute_comment19 {
        left: 18.90625vw;
    }
    .absolute_comment25 {
        left: -3vw;
    }
    .absolute_comment18 {
        left: -2vw;
    }
    .absolute_comment12 {
        left: -1vw;
    }
    .absolute_comment24 {
        left: 10.83vw;
    }
    .absolute_comment5 {
        left: -5vw;
    }
    .absolute_comment11 {
        left: -20.42vw;
    }
    .absolute_comment30 {
        left: -20.4vw;
    }

    .comment-box {
        position: relative;
        margin: 24px 0 120px;
        height: 55vh;
    }
    .illbeback {
        margin: 50px 0 0;
        justify-content: center;
    }
    footer {
        padding: 0 9.735vw 50px;
        margin: 50px auto 0;
    }
}
