html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;
vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{outline:none;}
p:empty {
  display: none !important;
}
/* я не меняла размер курсора, потому что в дизайне картинка вроде тоже полноразмерная. Если нужно, напиши мне */

:root {
	--black:        #000;
	--white:		#fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.3;
    background-color: #fff;
    /*cursor: url(../img/Semki.png), default;*/
    max-width: 1920px;
    color: var(--black);
}
/*header {
    display: flex;
    max-width: 100%;
}
.header-menu {
    position: absolute;
    width: 1920px;
    height: 64px;
    right: 0px;
    top: 37px;
    
    background: #FFFFFF;
}
.slider1 {
    position: absolute;
width: 77px;
height: 32px;
right: 1813px;
top: 56px;

background: linear-gradient(270deg, #FF80DB 0%, #76DAE5 89.09%);
border-radius: 100px;
}
.slider2 {
    position: absolute;
width: 77px;
height: 32px;
right: -47px;
top: 56px;

background: linear-gradient(270deg, #FF80DB 0%, #76DAE5 89.09%);
border-radius: 100px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.flex>ul{
	display: flex;
    justify-content: space-between;
}
.flex>ul>li {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 19px;
}*/
a {
    text-decoration: none;
    color: var(--black);
    /*cursor: url(../img/Semki.png), default;*/
}
main{
    padding: 0 187px;
    max-width: unset;
    width: calc(100% - 374px);
    margin: 100px auto 0;
}
.homka_smm_img {
    margin-top: 37px;
}
h1, h2 { 
    font-size: 54px;
    font-weight: 800;
}
img{
    max-width: 100%;
    height: auto;
}
.grid{
	display: grid;
}
.text_box1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 55%;
    margin-top: 56px;
}
.logo {
    margin: 0;
    padding: 0;
}
.column{
	flex-flow: column nowrap;
}
.alignCenter{
	align-items: center;
}
.justifyCenter{
	justify-content: center;
}
.justifyBetween{
	justify-content: space-between;
}

.col-1{
	grid-template-columns: repeat(1, 1fr);
}
.row-1{
	grid-template-rows: repeat(1, 1fr);
}
.col-2{
	grid-template-columns: repeat(2, 1fr);
}
.col-3{
	grid-template-columns: repeat(3, 1fr);
}
.col-5{
	grid-template-columns: repeat(5, 1fr);
}
.col-6{
	grid-template-columns: repeat(6, 1fr);
}
.col-9{
	grid-template-columns: repeat(9, 1fr);
}
.col-12{
	grid-template-columns: repeat(12, 1fr);
}
